
body { 
    background-color: #f9f9f9;
    color: #ba3925;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#title h1{
    font-size: 70px;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#fetch {
    margin-left:auto;
    margin-right:auto;
    width: 300px;
    font-size: 20pt;
    text-align: center;
}

#settings {
    display: none;
    font-size: 25px;
    margin: 5px 0px;
}


#findorhost {
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    text-align: center;
}

#lobby {
    display: none;
    margin-left:auto;
    margin-right:auto;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

#game{
    display: none;
}


@media screen and (min-width: 0px) {
  #game    { display: none; width: 480px; height: 360px; margin: 0 auto; }
}

@media screen and (min-width: 800px) {
  #game    { width: 640px; height: 480px; }
}

@media screen and (min-width: 1200px) {
  #game    { width: 800px; height: 600px; }
}

@media screen and (min-width: 1600px) {
  #game    { width: 1024px; height: 768px; }
}

.pubred {
    color: #ba3925;
}

#users {
    max-height: 400px;
    overflow: auto;
}

.challenge {
    cursor: pointer;
}

.challenge:hover {
    background-color: #a94442;
    color: white;
}

#challenge {
    display: none;
}

#versus {
    font-size: 40px;
    font-weight: 700;
}